
/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 15px;
  font-size: 175%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h2 {
  font-size: 125%; 
  float: right;
  text-align: center;
  width: 200px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#Chicken {
  background-color: yellow;
}

#Beef {
  background-color: red;
}

#Sushi {
  background-color: pink;
}

p {
  height: 200px;
  color: black;
  clear: right;
}

.row div {
  background-color: grey;
  border: 1px solid black;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  #first-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #third-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .col-lg-4 {
    width: 30%;
    float: left;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #first-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #second-section {
    margin-right: 2.5%;
  }
  #third-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
  }
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 46.25%;
  }
  .col-md-12 {
    width: 95%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  #first-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #second-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
  }
  #third-section {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
  }
  .col-lg-12 {
    width: 95%;
    margin-bottom: 2.5%;
    float: left;
  }
}